#!/bin/env bash
# {{ ansible_managed }}

source ~/.sapenv.sh

__SAPROUTER_OPT="-s -S 32{{ saprouter_deployment_instance_number }}"

cd {{ saprouter_deployment_instance_work_dir }} && {{ saprouter_deployment_global_exe_dir }}/saprouter $__SAPROUTER_OPT
